@font-face {
    font-family: "Karla";
    src: url(font/Karla/Karla-VariableFont_wght.ttf);
}

* {
    font-family: Karla;
    box-sizing: border-box;
}

body {
    background-image: url(images/tactile_noise.webp);
    background-repeat: repeat;
    display: table;

}

@media screen{
    .main {
        display: grid;
        grid-template-rows: 1fr;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 200px;
        min-width: 60%;
    }

    .part1 {
        background-color: white;
        padding-top: 20px;
        padding-left: 40px;
    }

    @media (max-width: 800px) {
        .part2 {
            display: grid;
        }
    }

    .part2-1 {
        background-color: rgb(40, 40, 40);
        color: white;
        padding: 20px;
    }

    .part2-2 {
        background-color: rgb(60, 60, 60);
        color: white;
        padding: 20px;
    }
}

@media (min-width: 800px) {
    .part2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}